---
import Section from "./Section.astro";
import Arrow from "../components/Arrow.astro";

import { userSocials, userEmail } from "../data/user-contact.json";
import { userName } from "../data/user-personal.json";
import CosmeticText from "./CosmeticText.astro";
---

<Section class="flex flex-row p-2">
  <a class="my-auto hover:brightness-125" href="/"><h1>{userName}</h1></a>

  <!-- USER CONTACT -->
  <div class="hidden ml-auto md:flex md:flex-col">
    <div class="flex flex-row-reverse flex-wrap gap-4">
      <a class="hover:brightness-125 duration-200" href={`mailto:${userEmail}`}
        >{userEmail}<Arrow class="stroke-primary-foreground" rotate={-45} /></a
      >
      {
        userSocials.map((social) => (
          <a class="hover:brightness-125 duration-200" href={social.link} target="_blank" rel="noopener noreferrer">
            {social.title}<Arrow class="stroke-primary-foreground" rotate={-45} />
          </a>
        ))
      }
    </div>
  </div>

  <a
    class="ml-auto px-2 text-primary-foreground hover:cursor-pointer hover:brightness-125 md:hidden"
  >
    {userEmail}
    <Arrow class="stroke-primary-foreground" rotate={-45} />
  </a>
</Section>

<!-- CREDITS -->
<Section class="relative flex min-h-48 items-center justify-center text-center bg-radial-[at_50%_10%] from-secondary to-transparent">
  <span class="absolute left-0">
    <CosmeticText text="last thought" vertical />
  </span>
  <p class="text-[15px] md:text-xl font-light italic text-subtle leading-relaxed tracking-wide max-w-sm">
    Where's the door of this world to go out from here!
  </p>
</Section>
